.home-page {
    background-color: #000;
    color: #FFF;
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    z-index: 1;

    h3 {
        padding-bottom: 30px;
    }

    .daily-date {
        padding-top: 30px;
        padding-bottom: 15px;
    }

    .center-media {
        margin-left: auto;
        margin-right: auto;
    }

    .daily-description {
        padding-left: 250px;
        padding-right: 250px;
    }

    img {
        max-width: 660px;
    }
}
