.header-container {
    background-image: url('../images/space.jpg');
    background-size: cover;
    color: #FFF;
    display: flex;
    font-family: $mainFont;
    justify-content: center;
    padding: 30px;
    // margin-bottom: 30px;
}

.link-styles {
    color: white;
    display: flex;
    text-decoration: none;
}

.route-container {
    display: flex;
    justify-content: space-around;
}